<h1>HELL-O FROM RAILS!</h1>
<p>
   It is now <%= @time %>
</p>

<p>
  result of 1+2 =
  <%= simple_sum %>
</p>

<p>
  Concat cow + boy =
  <%= @cowboy %>
</p>

<p>
  Time to say
  <%= link_to "Goodbye", say_goodbye_path %>
</p>

<p>
  Remember the HTML <a href="http://www.w3schools.com/tags/"> TAGS </a>
</p>
